{% extends 'base.html' %}

{% block content %}
  <h1>{{ person.username }}님의 프로필</h1>
  <div>
    팔로워 : <span id="followers-count">{{ person.followers.all|length }}</span> /
    팔로잉 : <span id="followings-count">{{ person.followings.all|length }}</span>

    <!-- 팔로워 : {{ person.followers.all|length }} / 팔로잉 : {{ person.followings.all|length }} -->
  </div>

  {% if request.user != person %}
  <div>
    {% comment %} 
    form으로 요청을 보내면 새로고침됨. 이제 form은 껍데기 취급
    따라서 JavaScript로 처리할 예정 
    {% endcomment %}

    {% comment %} <form action="{% url 'accounts:follow' person.pk %}" method="POST"> {% endcomment %}
    <form 
      id="follow-form" 
      data-user-id="{{ person.pk }}"
      >
      
      {% csrf_token %}
      {% if request.user in person.followers.all %}
        <button type="submit" class="btn btn-secondary" id="follow-btn">언팔로우</button>
        <!-- <input type="submit" value="언팔로우"> -->
      {% else %}
        <button type="submit" class="btn btn-primary" id="follow-btn">팔로우</button>
        <!-- <input type="submit" value="팔로우"> -->
      {% endif %}
    </form>
  <div>
  {% endif %}

  <h2>{{ person.username }}이 작성한 모든 게시글</h2>
  {% for article in person.article_set.all %}
    <div>{{ article.title }}</div>
  {% endfor %}

  <hr>

  <h2>{{ person.username }}이 작성한 모든 댓글</h2>
  {% for comment in person.comment_set.all %}
    <div>{{ comment.content }}</div>
  {% endfor %}

  <hr>

  <h2>{{ person.username }}이 좋아요 한 모든 게시글</h2>
  {% for article in person.like_articles.all %}
    <div>{{ article.title }}</div>
  {% endfor %}

  <a href="{% url 'articles:index' %}">back</a>
{% endblock content %}

{% block script %}
{% comment %} 
[보통의 경우]
1. 팔로우 버튼 클릭
2. form을 통해서 POST 요청이 간다. 
3. 팔로우에 대한 기능을 한다.(view) => DB에 영향을 미침
4. 프로필 페이지를 redirct => 적절한 페이지를 보여주면 
{% endcomment %}

{% comment %} 
[Ajax] 
1. 사용자가 팔로우 버튼 클릭
2. form을 통해서 POST 요청이 간다. 
3. 팔로우에 대한 기능을 한다.(view) => DB에 영향을 미침
4. 적절한 페이지를 보여준다.
    - 팔로우 <-> 언팔로우에 대한 토글
      - if 나의 팔로우 여부에 따라서
      - 팔로우 버튼을 선택
      - innertext를 바꿔준다
    - 팔로워에 대한 숫자
      - DB에서 받아온다.
    - 팔로잉에 대한 숫자
{% endcomment %}


{% comment %} JavaScript CDN 가져오기 for axios {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% comment %} <script src="a.js"> </script> {% endcomment %}
<script>
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  const form = document.querySelector('#follow-form')
  {% comment %} const form = document.getElementById('follow-form') {% endcomment %}
  {% comment %} console.log(form) {% endcomment %}

  {% comment %} console.log(form.dataset) {% endcomment %}
  let userPk 


  form.addEventListener('submit', function(event) {
    // 기본 동작을 막아놓고
    event.preventDefault()
    // 대신할 동작 지정
    // 데이터(userPk) 동적 할당
    const userPk = form.dataset.userPk
    axios({
      'method': 'post',
      'baseURL': 'http://127.0.0.1:8000',
      headers: {'X-CSRFToken': csrftoken},
      // 1. action에 있는 주소를 확인해서 넣는다.
      'url': `/accounts/${userPk}/follow/`,
      
    })
    .then( (res) => {
      // console.log(res.data)
      const data = res.data
      // const isFollowed = res.data.isFollowed

      // 구조분해 할당
      const { isFollowed, followersCount } = data
      // const isFollowed = data.isFollowed
      // const followersCount = data.followersCount

      ///////////////////////////////////////////////////////
      // 팔로우 버튼

      // console.log(isFollowed)
      const followBtn = document.querySelector('#follow-btn')
      // const followBtn2 = form.querySelector("[type='submit']")

      if (isFollowed) {
        // 팔로우인 경우 동작 -> 언팔로우
        followBtn.value = '언팔로우' 
      } else {
        // 팔로우가 아닌 경우 동작 -> 팔로우
        followBtn.value = '팔로우'
      }

      ///////////////////////////////////////////////////////
      // 팔로우의 개수 변경
      const followerCountTag = document.querySelector('#followers-count')
      followerCountTag.innerText = followersCount
    })
    .catch( (res) => {console.error(err)})
  })

</script>
{% endblock script %}

